<launch>
  <arg name="left_id" default="0"/>
  <arg name="right_id" default="1"/>
  <node name="forces_node_left" pkg="cfs_sensor" type="cfs_node"  output="screen">
    <param name="cfs_default_device_name" value="/dev/ttyACM$(arg left_id)"/>
    <param name="cfs_sensor_pub_name" value="/cfs/left/"/>
    <param name="cfs_sensor_calib_srv_name" value="/cfs/left/sensor_calib"/>
  </node>

  <group if="$(eval arg('left_id') - arg('right_id') != 0)">
    <node name="forces_node_right" pkg="cfs_sensor" type="cfs_node_duplicate"  output="screen">
      <param name="cfs_default_device_name" value="/dev/ttyACM$(arg right_id)"/>
    <param name="cfs_sensor_pub_name" value="/cfs/right/"/>
    <param name="cfs_sensor_calib_srv_name" value="/cfs/right/sensor_calib"/>
    </node>
  </group>

</launch>
